@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}

.bg-custom {
  background-color: rgb(16, 21, 36);
}

.bg-custom-dark {
  background-color: rgb(16, 21, 36);
}

.border-t-0 {
  border-top-width: 0;
}

.border-r-0 {
  border-right-width: 0;
}

.border-b-0 {
  border-bottom-width: 0;
}

.border-l-0 {
  border-left-width: 0;
}
